
extends ../layouts/master

block title
    title Add User

block content
    h1 Add User

    if errors
        each error in errors
            .alert.alert-danger #{error}
    
    form(action="/user/create", enctype="multipart/form-data", method="POST")
        input(type="hidden", name="_csrf",id="_csrf", value=csrfToken)
        .form-group.row
            label.col-sm-2.col-form-label Name
            .col-sm-10
                input.form-control(type='text', name='name', placeholder='Name', value=dataOld ? dataOld.name : '')
        .form-group.row
            label.col-sm-2.col-form-label Age
            .col-sm-10
                input.form-control(type='text', name='age', placeholder='Age', value=dataOld ? dataOld.age : '')
        .form-group.row
            label.col-sm-2.col-form-label Address
            .col-sm-10
                input.form-control(type='text', name='address', placeholder='Address', value=dataOld ? dataOld.address : '')
        .form-group.row
            label.col-sm-2.col-form-label Email
            .col-sm-10
                input.form-control(type='text', name='email', placeholder='Email', value=dataOld ? dataOld.email : '')
        .form-group.row
            label.col-sm-2.col-form-label Phone
            .col-sm-10
                input.form-control(type='text', name='phone', placeholder='Phone', value=dataOld ? dataOld.phone : '')
        .form-group.row
            label.col-sm-2.col-form-label Avatar
            .col-sm-10
                input.form-control-file(type='file', name='avatar')
        
        button.btn.btn-primary.mb-2.float-right(type='submit') Create user

